@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500&display=swap");
:root {
	--fontFamily: "Raleway", sans-serif;
	--fontSize: 16px;
	--blue: #5283bf;
	--white: #ffffff;
	--gray: #9b9b9b;
	--darkenBlue: #6692c8;
	--lightGray: #b4c0c9;
	--transition: 0.4s ease;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: var(--fontFamily);
	font-size: var(--fontSize);
	letter-spacing: 2px;
	color: var(--gray);
	line-height: 2;
    font-weight: 200;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 100;
}
.container {
	max-width: 1140px;
	margin: 0 auto;
}
.container::after {
	display: block;
	clear: both;
	content: "";
}
a {
	color: white;
	text-decoration: none;
}
ul {
	list-style: none;
}
button {
	padding: 10px 15px;
	background: var(--blue);
	border: none;
	color: var(--white);
	cursor: pointer;
	font-size: 1rem;
	transition: var(--transition);
}
button:hover {
	background: var(--darkenBlue);
}
/* HEADER */
header {
	background-image: url(img/banner.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	border-top: 15px solid var(--blue);
}
nav {
	padding: 50px 0;
}
nav .logo {
	float: left;
}
nav ul {
	float: right;
}
nav a:hover {
	color: var(--gray);
	transition: var(--transition);
	transform: scale(1.15);
	display: block;
}
nav ul li {
	float: left;
	margin: 0 30px;
}
nav ul li:last-child {
	margin-right: 0;
}
hgroup {
	text-align: center;
	padding: 50px 0 150px 0px;
}
hgroup h1 {
	font-size: 4rem;
	color: var(--white);
}
hgroup h4 {
	font-size: 1.3rem;
	color: var(--lightGray);
}
hgroup h4 span {
	text-transform: uppercase;
}
/* first */
.first {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 80px 0;
}
.first article:nth-child(1) {
	border-right: 1px solid var(--gray);
	padding: 0 40px;
}
.first article:nth-child(2) {
	border-right: 1px solid var(--gray);
	padding: 0 40px;
}
.first article:nth-child(3) {
	padding: 0 40px;
}
.first article h2 {
	color: var(--blue);
}
.first article button {
	margin-top: 30px;
}
/***********
team
************/
.team {
    background: var(--blue);
    padding: 80px 0;
    text-align: center;
}
.team h2 {
    color: var(--white);
    font-size: 3rem;
}
.team h2 + p {
    color: var(--lightGray);
}
.team article {
    float: left;
    width: 25%;
    margin-top: 50px;
}
.team article .wrap {
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 40px;
    margin: 0 20px;
}
.team article .wrap img {
    border-radius: 50%;
}
.team article:first-child .wrap {
    margin-left: 0;
} 
.team article:last-child .wrap {
    margin-right: 0;
}
.team article .wrap h3 {
    color: var(--white);
    font-size: 1.2rem;
}
.team article .wrap h5 {
    color: var(--lightGray);
} 