@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400&display=swap');
:root {
    --fontFamily: 'Raleway', sans-serif;
    --fontSize: 16px;
    --blue: #5283bf;
    --darkenBlue: #6692c8;
    --white: #fff;
    --gray: #9b9b9b;
    --transition: .4s ease;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--fontFamily);
    font-size: var(--fontSize);
    letter-spacing: 2px;
    color: var(--gray);
    line-height: 2;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
}
.container {
    max-width: 1140px;
}