@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');
:root {
    --primary: #2b333d;
    --secondary: #02bece;
    --text: #20272f;
    --lightgray: #eee;
    --white: #fff;
    --fontFamaily: 'Source Sans Pro', sans-serif;
    --fontSize: 16px;
}
/*******************
********************
basis styles
********************
*******************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--fontFamaily);
    font-size: var(--fontSize);
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}
.clearfix::after {
    display: block;
    content: ""; 
    clear: both;
}
.container {
    max-width: 1140px;
    margin: auto;
}
.py {
    padding: 70px 0;
}
.headers {
    background: var(--secondary);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    letter-spacing: 2px;
}
.clearfix::after {
    clear: both;
    content: ""; 
    display: block;
}
.button {
    background: var(--secondary);
    border: 0;
    font-size: 16px;
    padding: 10px 30px;
    cursor: pointer;
    color: var(--primary);
    text-decoration: none;
    display: inline-block;
}
.button:hover {
    background: var(--primary);
    color: var(--white);
}
/*******************
********************
nav
********************
*******************/
nav {
    background: var(--primary);
    padding: 10px 70px;
}
nav .logo {
    width: 250px; 
    float: left;
}
nav ul {
    float: right;
    margin-top: 20px;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 50px;
}
nav ul li a:hover {
    color: var(--secondary);
}
/*******************
********************
header
********************
*******************/
header img {
    width: 100%;
}
/*******************
********************
uvod
********************
*******************/
.uvod article:last-child {
    background: var(--lightgray);
    padding: 30px;
    margin-top: 30px;
    display: flex;
}
.uvod article:last-child div {
    padding: 0 10px;
}
/*******************
********************
footer
********************
*******************/
footer {
    background: var(--primary);
    text-align: center;
    color: var(--white);
    padding: 30px 0;
}
/*******************
********************
blog
********************
*******************/
main section {
    float: left;
    width: 70%;
}
main section img {
    width: 100%;
}
main aside {
    float: right;
    width: 25%;
    padding: 30px;
    background: var(--primary);
    color: var(--white);
}
main aside ul {
    list-style: none;
}
main aside a {
    color: var(--white);
    line-height: 1.5;
}
main aside a:hover {
    color: var(--secondary);
}
main aside hr {
    margin: 20px 0;
}
main aside h3 {
    font-size: 25px;
    margin-bottom: 10px;
    color: var(--secondary);
}
.post {
    background: var(--lightgray);
    margin-bottom: 30px;
}
.post .text {
    padding: 30px;
}
.post .text h2 {
    color: var(--secondary);
    font-size: 40px;
    text-shadow: 0 0 5px var(--primary);
}
.post .text p {
    padding: 10px 0 20px 0;
}



