@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");
:root {
	--primary: #181818;
	--secondary: #2651a8;
	--white: #fff;
	--gray: #585858;
	--lightGray: #a2a2a2;
	--fontFamily: "Didact Gothic", sans-serif;
	--fontSize: 16px;
	--transition: 0.4s ease;
	--padding: 80px 0;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: var(--fontFamily);
	font-size: var(--fontSize);
	line-height: 1.5;
	color: var(--primary);
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: var(--white);
}
.container {
	width: 80%;
	margin: 0 auto;
}
button {
	padding: 20px 40px;
	background: var(--secondary);
	color: var(--white);
	border: none;
	font-size: 1rem;
	margin-top: 30px;
	border-radius: 5px;
}
button:hover {
	background: var(--white);
	color: var(--secondary);
	transition: var(--transition);
	cursor: pointer;
}/* HEADER */
header {
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
		url(img/header.jpg);
	background-position: center;
	background-size: cover;
	padding: var(--padding);
	text-align: center;
}
nav {
	display: flex;
	justify-content: space-between;
}
ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex: 0 0 30%;
}
ul li a {
	font-size: 1.25rem;
	padding: 15px 25px;
	transition: var(--transition);
}
ul li a:hover {
	background-color: var(--secondary);
}
.logo {
	font-size: 2rem;
}
hgroup {
	margin: 200px 0;
}
hgroup h1 {
	font-size: 4rem;
	color: var(--white);
}
hgroup p {
	color: rgba(255, 255, 255, 0.7);
	font-size: 2rem;
}hgroup .btn {
	margin: 30px 0 50px 0;
}/**************
first
**************/
.first {
	padding: var(--padding);
	text-align: center;
}
article {
	display: flex;
}
.col {
	flex: 0 0 33%;
	padding: 20px;
}
.first button {
	background: (--primary);
	color: var(--white);
}
/**************
second
**************/
.second {
	text-align: center;
	padding: var(--padding);
	background: var(--secondary);
	color: var(--white);
}
.second a {
	color: var(--white);
}
.second button {
	background: var(--white);
	color: var(--secondary);
}
.second button:hover {
	background: var(--primary);
	color: var(--white);
}/* footer */
footer {
	background: var(--primary);
	color: var(--lightGray);
	text-align: center;
	padding: var(--padding);
}
footer p a {
	text-decoration: underline;
	color: var(--white);
}
footer p a:hover {
	color: var(--secondary);
}
footer ul {
	display: flex;
	width: 30%;
	margin: 30px auto;
}
footer ul li a:hover {
	background: none;
}
/* RESPONSIVE */@media (max-width: 768px) {
	.container {
		width: 90%;
	}
	nav .logo {
		flex: 0 0 100%;
		margin-bottom: 20px;
	}
	nav ul {
		flex: 0 0 100%;
	}
	nav ul li a {
		padding: 10px 15px;
	}
	header hgroup {
		margin: 100px 0;
	}
	header hgroup h1 {
		font-size: 3rem;
	}
	header hgroup p {
		font-size: 1.4rem;
	}
}